.header {
    /* background-color: rgba(131, 130, 127, 0.7); */
    margin: 20px 0px;
    padding-bottom: 20px;
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    border-bottom: solid 1px grey;
    justify-content: space-between;
}

.logo {
    margin-left: 50px;
    width: 165px;
}
.nav a {
color: white;
font-size: 1.5rem;
}

.nav a:hover {
    color: rgb(255, 166, 0);
    font-size: 1.5rem;
    }

/* .nav a:visited {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    } */

.loginform {
    display: inline-block;
}

.olausuario {
    display: inline-block;
}

#login {
    font-size: 1rem;
}

@media only screen and (max-width: 768px){
.logo{
    width: 200px;
    margin-left: 20px;
}
}